<!Doctype HTML>
<html>

    <head>
        <link rel="stylesheet" href="err.css">
    </head>
    
    <body>
        <% if (code) { %>
            <%
            switch (Number(code) ) { 
                case 404:
            %>
                <%=
                    `<div class="content 404">
                        <div class="content_error 404">
                            Error: ${error}
                        </div>
                        <br>
                        <div class="content_path 404">
                            Path : ${path}
                        </div>
                    </div>`
                %>
            <%
                    break
                case 403:
            %>
                <%=
                    `<div class="content 403">
                        <div class="content_error 403">
                            Error: ${error}
                        </div>
                        <br>
                        <div class="content_reason 403">
                            Reason : ${reason}
                        </div>
                    </div>`
                %>
            <%
                    break
                default:
            %>
        <% }} else { %>
            <%= "Warning: `code` is not defined" %>
        <% } %>
    </body>

</html>
