<html>
    <head>
        <style>
            .cover_bg {
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                max-height: 100%;
                max-width: 100%;
                margin: auto;
                z-index:-1;
            }
        </style>
    </head>
    
    <body>
        <video class="cover_bg" autoplay loop>
            <source src="https://knose1-games.herokuapp.com/mp4/macron.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </body>

</html>
