<html>
    <head>
        <style>
            body {
                overflow: hidden;
                background-color: black;
            }

            .centalBarre {
                list-style-type: none;
                width: -webkit-fill-available;
                background-color: orange;
                font-size: -webkit-xxx-large;
                text-align: center;
                position: fixed;
                left: 0;
                top: 37%;
            }

            .cover_bg {
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                max-height: fit-content;
                width: 100%;
                margin: auto;
                z-index: -1;
            }
        </style>
    </head>
    
    <body>
        <video class="cover_bg" autoplay loop>
            <source src="https://knose1-games.herokuapp.com/mp4/macron.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <ul class="centalBarre">
            <li>
                <b>BAN KNOSE1</b>
            </li>
        </ul>
    </body>

</html>
