
<!Doctype HTML>
<html>
  <head>
    <style>
      th,td,tr {
        width:-webkit-fill-available
      }
      
    </style>
  </head>
  
  <body>
    <button class="displayCodes">Display Codes</button>
    <table style="display:none">
      <tr>
        <th>
          Code 1
        </th>
        <th>
          Code 2
        </th>
        <th>
          Code 3
        </th>
        <th>
          Code 4
        </th>
      </tr>
      
      <tr>
        <td>
          <%= code1 %>
        </td>
        <td>
          <%= code2 %>
        </td>
        <td>
          <%= code3 %>
        </td>
        <td>
          <%= code4 %>
        </td>
      </tr>
    </table>
  </body>
  <script src="https://knose1-games.herokuapp.com/js/admin/index.js"></script>
</html>
