
<!Doctype HTML>
<html>
  <head>
  </head>
  
  <body>
    <button class="displayCodes">Display Codes</button>
    <table style="display:none">
      <th>
        <td>
          Code 1
        </td>
        <td>
          Code 2
        </td>
        <td>
          Code 3
        </td>
        <td>
          Code 4
        </td>
      </th>
      
      <th>
        <td>
          <%= Code1 %>
        </td>
        <td>
          <%= Code2 %>
        </td>
        <td>
          <%= Code3 %>
        </td>
        <td>
          <%= Code4 %>
        </td>
      </th>
    </table>
  </body>
  <script src="https://knose1-games.herokuapp.com/js/admin/index.js"></script>
</html>
